.pagina-historico {
    min-height: 100vh;
    background-color: var(--preto);
    color: var(--branco);

    .barra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;

        .barra-pesquisa {
            display: flex;
            align-items: center;
            width: 400px;
            gap: 15px;
            padding: 10px;
            background-color: var(--cinza);
            border-radius: 10px;

            .lupa {
                font-size: 20px;
            }

            input {
                outline: none;
                font-size: 16px;
                border: none;
                background-color: transparent;
                color: var(--branco);
            }
        }
    }

    .filtros {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        select {
            cursor: pointer;
            width: 25%;
            font-size: 15px;
            color: var(--branco);
            padding: 8px;
            outline: none;
            background-color: var(--preto);
            border: 1px var(--cinza) solid;
            border-radius: 8px;
        }
    }

    .movimentacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0px;
    }

    .mensagem {
        padding: 40px 0px;
        
        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .pagina-historico {
        .barra {
            flex-direction: column;
            gap: 15px;

            h1 {
                font-size: 35px;
            }
        }

        .filtros {
            flex-direction: column;
            gap: 8px;

            select {
                width: 70%;
                padding: 5px;
            }
        }
    }
}