:root {
  --preto: #0F172A;
  --cinza: #1E293B;
  --cinza-escuro: #151c29;
  --azul: #3B82F6;
  --verde: #22C55E;
  --vermelho: #EF4444;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}