:root {
  --preto: #0F172A;
  --cinza: #1E293B;
  --cinza-claro: #28344d;
  --azul: #3B82F6;
  --verde: #22C55E;
  --vermelho: #EF4444;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--preto);
}

::-webkit-scrollbar-thumb {
  background: var(--cinza);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cinza-claro);
}