.pagina-usuario {
    background-color: var(--preto);
    color: var(--branco);
    min-height: 100vh;

    .ola {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px 0px 15px 0px;
        align-items: center;

        .linha {
            background-color: var(--branco);
            width: 50%;
            height: 1px;
        }
    }

    .dados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: min(100%, 900px);
        margin: 20px auto;

        .dado {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                font-size: 20px;
            }

            input {
                background-color: var(--preto);
                color: var(--branco);
                border-radius: 5px;
                border: 1px var(--cinza) solid;
                outline: none;
                font-size: 17px;
                padding: 8px;
            }

            .input-data {
                padding: 7px;
            }

            .input-data::-webkit-calendar-picker-indicator {
                filter: invert(1);
                cursor: pointer;
            }
        }

        .botoes {
            grid-column: span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .botao, .botao-apagar {
                background-color: var(--azul);
                color: var(--branco);
                width: 250px;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                padding: 8px;
                cursor: pointer;
            }

            .botao-apagar {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: var(--vermelho);
            }
        }
    }
}